{% extends 'base.html' %}

{% block content %}
<div class="py-2">
  {% for quiz in my_quiz_list %}

  <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
    <div class="px-6 py-4">
    <p> <a href="{% url 'user-profile' quiz.user.id %}">@{{quiz.user.username}}</a> - {{ quiz.name }} </p><hr>
      <div class="font-bold  text-black mb-2"></div>
      <p class="text-black text-base">
        目的:{{quiz.purpose}}
      </p>
    </div>
    
    {% comment %} button infomation {% endcomment %}
    <div class="px-6 py-4">
      {% if request.user == quiz.user %}
        <button class="place-self-end modal-button modal-open bg-transparent border border-gray-500 hover:border-indigo-500 text-black  hover:text-indigo-500 font-bold py-2 px-4 rounded-full">
          <a href="{% url 'quiz-detail' pk=quiz.id %}">詳細<a>
        </button>
        <button class="bg-transparent border border-gray-500 hover:border-indigo-500 text-black hover:text-indigo-500 font-bold py-2 px-4 rounded-full">
          <a href="{% url 'add-question' pk=quiz.id %}">クイズを追加<a>
        </button>
        <button class="bg-transparent border border-gray-500 hover:border-indigo-500 text-black hover:text-indigo-500 font-bold py-2 px-4 rounded-full">
          <a href="{% url 'comment' quiz.id %}">コメント<a>
        </button>
      {% else %}
        <button class="bg-transparent border border-gray-500 hover:border-indigo-500 text-black hover:text-indigo-500 font-bold py-2 px-4 rounded-full">
          <a href="{% url 'comment' quiz.id %}">コメント<a>
        </button>
        <button class="bg-transparent border border-gray-500 hover:border-indigo-500 text-black hover:text-indigo-500 font-bold py-2 px-4 rounded-full">
          <a href="{% url 'quiz-handle-good' quiz.id %}">いいね{{ quiz.likes.all | length}}<a>
        </button>
      {% endif %}
    </div>
  </div>

  {% empty %}
    <h3>検索結果が見つかりませんでした。</h3>

  {% endfor %}
</div>
{% endblock  %}
